* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right,
     rgb(100, 23, 23) 20%, rgb(155, 51, 51) 55%);
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

/* --------------banner section----------------- */

#banner {
    background-image: linear-gradient(to right,
     rgb(100, 23, 23) 20%, rgb(155, 51, 51) 55%);
     color: #fff;
     padding-top: 5%;
}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100;
}

.play-btn {
    width: 100px;
    margin: 20px;
}

.bottom-img {
    width: 100%;
}

/* ----------service section--------------- */
#services {
    padding: 80px 0;
}

.service-img {
    width: 100px;
    margin-top: 20px;
}

.services {
    padding: 20px;
}

.form-group input {
    display: block;
    margin-bottom: 4px;
    text-align: center;
}

.services h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before {
    content: '';
    background: #ce810d;
    height: 5px;
    width: 200px;
    margin: 0 auto;
    display: block;
    transform: translateY(63px);
}

.title::after {
    content: '';
    background: #ce810d;
    height: 10px;
    width: 50px;
    margin: 0 auto 40px;
    display: block;
    transform: translateY(8px);
}

#services .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background: rgb(100, 23, 23);
}

#about-us {
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

#about-us ul li {
    margin: 10px 0;
} 

#abot-us ul {
    margin-left: 20px;
}

/* testimonials SECTION */
#testimonials {
    margin: 100px 0;
}

.testimonials {
    border-left: 4px solid #e0982a;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

/* -------------social-media section----------------- */
#social-media {
    background-color: #f8f9fa;
    padding: 100px 0;
}

#social-media p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons img {
    width: 150px;
    transition: 0.5s;
}

.social-icons a:hover img {
    transform: translateY(-10px);
}

#footer {
    background-image: linear-gradient(to right,
    rgb(100, 23, 23) 20%, rgb(155, 51, 51) 55%);
    color: #fff;
}

.footer-box {
    padding: 20px;
}

.footer-box img {
    width: 60px;
    margin-bottom: 20px;
}

.footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right,
    rgb(100, 23, 23) 35%, rgb(155, 51, 51) 55%);
}

.footer-box .form-control {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary {
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 30px;
}

hr {
    background-color: #fff;
}

.footer-img {
    width: 100%;
}

.copyright {
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}
